/*
  HTML5 Reset :: style.css
  ----------------------------------------------------------
  We have learned much from/been inspired by/taken code where offered from:

  Eric Meyer          :: http://meyerweb.com
  HTML5 Doctor        :: http://html5doctor.com
  and the HTML5 Boilerplate :: http://html5boilerplate.com

  https://github.com/murtaugh/HTML5-Reset
  Licence :: MIT <https://github.com/murtaugh/HTML5-Reset/blob/master/package.json>

-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {display: block;}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {max-width: 100%;}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
/* ul {list-style: none;} */

blockquote, q {quotes: none;}

blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: separate; border-spacing: 0;}
th {font-weight: bold;}
td {font-weight: normal;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}

small {font-size: 85%;}

strong {font-weight: bold;}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button,
input[type=button] {width: auto; overflow: visible;}

/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/

/* let's clear some floats */
.clearfix:after { content: " "; display: block; clear: both; }

/* from style.css */

/* We like off-black for text. */
body, select, input, textarea {color: #333;}

/* Mozilla dosen't style placeholders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

/* let's give blockquotes *some* default styling, because unstyled blockquotes are dangerous */
blockquote {padding: 16px; background: #eee;}

/*
 * basic.css
 * ~~~~~~~~~
 *
 * Original work
 *   :copyright: Copyright 2007-2016 by the Sphinx team, see AUTHORS.
 *   :license: BSD, see LICENSE for details.
 *
 * And includes alabaster sphinx theme
 *   Copyright (c) 2016 Jeff Forcier.
 *   Based on original work copyright (c) 2011 Kenneth Reitz and copyright (c) 2010
 *   Armin Ronacher.
 *   :license: MIT
 *
 * Modified by
 *   Copyright (c) 2016 Hiroyuki Takagi
 *   :license: MIT
 */

/* -- general body styles --------------------------------------------------- */

/* Main layout */

div.document {
    margin: 10px auto 0 auto;
    padding: 0 30px 0 30px;
    max-width: 940px;
    display: flex;
}

div.documentwrapper {
    width: 100%;
}

div.footer {
    margin: 20px auto 30px auto;
    max-width: 940px;
    font-size: 14px;
    text-align: right;
}

div.sphinxsidebar {
    min-width: 220px;
    max-width: 220px;
    margin-right: 30px;
    display: flex;
}

@media screen and (max-width:  940px) {
  div.document {
    flex-direction: column-reverse;
  }

  div.sphinxsidebar {
    width: auto;
  }

  .github {
    display: none;
  }
}

html, body {
    font-size: 17px;
    font-family: serif;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.75rem;
}

h3 {
    font-size: 2.25rem;
}

h4 {
    font-size: 1.9rem;
}

h5 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-family: sans-serif;
}

p {
    margin-bottom: 1em;
}

ul, ol, dd {
    margin-left: 2rem;
}

/* latest firefox button is something wide */
button, input {
    font-family: monospace;
    margin: 0;
    padding: 0;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
}

button, input[type=submit], input[type=button] {
    background-color: #f7f7f7;
}

/* link colors */

a:link {
    color: #3480c0;
}

a:visited {
    color: #644090;
}

a:hover {
    color: #34a0c0;
}

/* header link */
a.headerlink {
  margin-left: 0.2em;
  font-size: 80%;
  color: rgba(0, 0, 0, 0.05);
}

a.headerlink:hover {
  color: rgba(0, 0, 0, 0.15);
}


/* -- figures --------------------------------------------------------------- */

img {
    border: 0;
    max-width: 100%;
}

img.align-left, .figure.align-left, object.align-left {
    clear: left;
    float: left;
    margin-right: 1em;
}

img.align-right, .figure.align-right, object.align-right {
    clear: right;
    float: right;
    margin-left: 1em;
}

img.align-center, .figure.align-center, object.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Don't put an underline on images */
a.image-reference, a.image-reference:hover {
    border-bottom: none;
}
div.figure {
    margin: 0.5em;
    padding: 0.5em;
}

div.figure p.caption {
    padding: 0.3em;
}

div.figure p.caption span.caption-number {
    font-style: italic;
}

/* -- index page ------------------------------------------------------------ */

table.contentstable {
    width: 90%;
}

table.contentstable p.biglink {
    line-height: 150%;
}

a.biglink {
    font-size: 1.3em;
}

span.linkdescr {
    font-style: italic;
    padding-top: 5px;
    font-size: 90%;
}

/* -- general index --------------------------------------------------------- */

table.indextable {
    width: 100%;
}

table.indextable td {
    text-align: left;
    /* vertical-align: top; */
}

table.indextable dl, table.indextable dd {
    margin-top: 0;
    margin-bottom: 0;
}

table.indextable tr.pcap {
    height: 10px;
}

table.indextable tr.cap {
    margin-top: 10px;
    background-color: #f2f2f2;
}

img.toggler {
    margin-right: 3px;
    margin-top: 3px;
    cursor: pointer;
}

div.modindex-jumpbox {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 1em 0 1em 0;
    padding: 0.4em;
}

div.genindex-jumpbox {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 1em 0 1em 0;
    padding: 0.4em;
}

/* -- search page ----------------------------------------------------------- */

ul.search {
    margin: 10px 0 0 20px;
    padding: 0;
}

ul.search li {
    padding: 5px 0 5px 20px;
    background-image: url(file.png);
    background-repeat: no-repeat;
    background-position: 0 7px;
}

ul.search li a {
    font-weight: bold;
}

ul.search li div.context {
    color: #888;
    margin: 2px 0 0 30px;
    text-align: left;
}

ul.keywordmatches li.goodmatch a {
    font-weight: bold;
}

/* -- for definitions ------------------------------------------------------- */
dl.class dd, dl.function dd {
  margin-left: 30px;
}

/* -- admonitions ----------------------------------------------------------- */

div.admonition {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px;
}

div.admonition dt {
    font-weight: bold;
}

div.admonition dl {
    margin-bottom: 0;
}

p.admonition-title {
    margin: 0px 10px 5px 0px;
    font-weight: bold;
}

div.body p.centered {
    text-align: center;
    margin-top: 25px;
}

div.admonition {
    margin: 20px 0px;
    padding: 10px 30px;
    background-color: #FCC;
    border: 1px solid #FAA;
}

div.admonition tt.xref, div.admonition a tt {
    border-bottom: 1px solid #fafafa;
}

dd div.admonition {
    margin-left: -60px;
    padding-left: 60px;
}

div.admonition p.admonition-title {
    font-weight: normal;
    font-size: 1.5rem;
}

div.admonition p.last {
    margin-bottom: 0;
}

div.note {
    background-color: #EEE;
    border: 1px solid #CCC;
}

div.seealso {
    background-color: #EEE;
    border: 1px solid #CCC;
}

p.admonition-title:after {
    content: ":";
}

/* -- topics ---------------------------------------------------------------- */
/* What is topic...? */

div.topic {
    border: 1px solid #ccc;
    padding: 7px 7px 0 7px;
    margin: 10px 0 10px 0;
}

p.topic-title {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 10px;
}

div.topic {
    background-color: #eee;
}

/* -- relbar ---------------------------------------------------------------- */

div.related {
    width: 100%;
    font-size: 90%;
    display: flex;
}

div.related h3 {
    display: none;
}

div.related ul {
    margin: 0;
    padding: 0 0 0 10px;
    list-style: none;
}

div.related li {
    display: inline;
}

div.related li.right {
    float: right;
    margin-right: 5px;
}

/* -- sidebar --------------------------------------------------------------- */

div.sphinxsidebarwrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.sphinxsidebar ul {
    margin: 0;
    padding: 0;
}

div.sphinxsidebar ul, div.sphinxsidebar li {
    list-style: none;
}

div.sphinxsidebar ul ul {
    margin-top: 0;
    margin-bottom: 0;
}

div.sphinxsidebar li {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

div.sphinxsidebar ul li {
    padding-left: 0.7rem;
}

div.sphinxsidebar form {
    margin-top: 10px;
}


div.relations {
    display: none;
}


div.sphinxsidebar a {
    text-decoration: none;
}

div.sphinxsidebarwrapper h1.logo {
    margin-bottom: 5px;
}

div.sphinxsidebarwrapper h1.logo > a {
    color: #333;
}

div.sphinxsidebarwrapper h1.logo-name {
    margin-top: 0px;
}

div.sphinxsidebarwrapper p.blurb {
    margin-top: 0;
}

div.sphinxsidebar h3,
div.sphinxsidebar h4 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}

div.sphinxsidebar h4 {
    font-size: 1.2rem;
}

div.sphinxsidebar p.logo a,
div.sphinxsidebar h3 a,
div.sphinxsidebar p.logo a:hover,
div.sphinxsidebar h3 a:hover {
    border: none;
}

div.sphinxsidebar ul li.toctree-l1 > a {
    font-size: 1.15rem;
}

div.sphinxsidebar ul li.toctree-l2 > a {
    font-size: 1.05rem;
}

div.sphinxsidebar hr {
    border: none;
    height: 1px;
    text-align: left;
    margin-left: 0;
    width: 50%;
}

div.searchbox {
    padding-top: 1rem;
    width: 100%;
}

div.search-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

input.search-input {
    align-self: stretch;
    margin: 0;
    line-height: normal;
}

div.sphinxsidebarwrapper input.search-input {
    line-height: normal;
    width: 100%;
}

button.search-btn, input.search-btn {
    align-self: stretch;
    margin: 0;
    padding: 0 1em;
    line-height: normal;
}

a.github-mark {
    margin-bottom: 10px;
}

/* -- other body styles ----------------------------------------------------- */

dl.glossary dt {
    font-weight: bold;
    font-size: 1.1em;
}

.field-list ul {
    margin: 0;
    padding-left: 1em;
}

.field-list p {
    margin: 0;
}

table.field-list th {
    padding: 0 0.8rem;
}


/* Disable valign="top" inserted by docutils */
tr.field {
    display: flex;
    align-items: stretch;
    line-height: normal;
}

th.field-name {
    display: flex;
    align-items: stretch;
    margin: 0;
    padding: 0;
    line-height: normal;
}

td.field-body {
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    line-height: normal;
}

table.field-list p {
    margin-bottom: 0.8em;
}

.optional {
    font-size: 1.3em;
}

.sig-paren {
    margin-left: 2px;
    margin-right: 2px;
}

code+.sig-paren {
    padding-left: 2px;
    margin-right: 0px;
}

.versionmodified {
    font-style: italic;
}

.system-message {
    background-color: #fda;
    padding: 5px;
    border: 3px solid red;
}

.footnote:target  {
    background-color: #ffa;
}

table.footnote {
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

table.footnote {
    margin: 15px 0;
    width: 100%;
    border: 1px solid #EEE;
    background: #FDFDFD;
    font-size: 0.9em;
}

table.footnote + table.footnote {
    margin-top: -15px;
    border-top: none;
}

table.footnote td.label {
    width: .1px;
    padding: 0.3em 0 0.3em 0.5em;
}

table.footnote td {
    padding: 0.3em 0.5em;
}

a.footnote-reference {
    text-decoration: none;
    font-size: 0.7em;
    vertical-align: top;
}

.line-block {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

.line-block .line-block {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1.5em;
}

.guilabel, .menuselection {
    font-family: sans-serif;
}

abbr, acronym {
    border-bottom: dotted 1px;
    cursor: help;
}

/* -- code displays --------------------------------------------------------- */

pre {
    overflow: auto;
    overflow-y: hidden;  /* fixes display issues on Chrome browsers */
    padding: 0.5em;
    margin-bottom: 1em;
}

code {
    vertical-align: baseline;
}

pre, code {
    background-color: #f6f6f6;
}

td.linenos pre {
    padding: 5px 0px;
    border: 0;
    background-color: transparent;
}

table.highlighttable {
    margin-left: 0.5em;
}

table.highlighttable td {
    padding: 0 0.5em 0 0.5em;
}

div.code-block-caption {
    padding: 2px 5px;
    font-size: small;
}

div.code-block-caption code {
    background-color: transparent;
}

div.code-block-caption + div > div.highlight > pre {
    margin-top: 0;
}

div.code-block-caption span.caption-number {
    padding: 0.1em 0.3em;
    font-style: italic;
}

div.literal-block-wrapper {
    padding: 1em 1em 0;
}

div.literal-block-wrapper div.highlight {
    margin: 0;
}

code.descname {
    font-weight: bold;
}

code.xref, a code {
    background-color: transparent;
    font-weight: bold;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    background-color: transparent;
}

.viewcode-link {
    float: right;
}

.viewcode-back {
    float: right;
    font-family: sans-serif;
}

div.viewcode-block:target {
    margin: -1px -10px;
    padding: 0 10px;
}

/* -- math display ---------------------------------------------------------- */

img.math {
    vertical-align: middle;
}

div.body div.math p {
    text-align: center;
}

span.eqno {
    float: right;
}

/* -- printout stylesheet --------------------------------------------------- */

@media print {
    div.document,
    div.documentwrapper,
    div.bodywrapper {
        margin: 0 !important;
        width: 100%;
    }

    div.sphinxsidebar,
    div.related,
    div.footer,
    #top-link {
        display: none;
    }
}


/* -- body styles ----------------------------------------------------------- */

/* misc. */

.revsys-inline {
    display: none!important;
}

/* Make nested-list/multi-paragraph items look better in Releases changelog
 * pages. Without this, docutils' magical list fuckery causes inconsistent
 * formatting between different release sub-lists.
 */
div#changelog > div.section > ul > li > p:only-child {
    margin-bottom: 0;
}

/* Hide fugly table cell borders in ..bibliography:: directive output */
table.docutils.citation, table.docutils.citation td, table.docutils.citation th {
  border: none;
  /* Below needed in some edge cases; if not applied, bottom shadows appear */
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}